@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 120vh;
  font-size: 16px;
}
/* .main{
  width: 100%;
} */
section {
  width: 100%;
  background-color: rgb(243, 243, 243);
  height: 100vh;
  /* padding-top: 60px; */
}
.hm_big_txt,
.hm_sml_txt {
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #333;
}
.hm_sml_txt {
  font-size: 1.5rem;
}
.hm_lrg_txt {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: #154747;
}
.hm_imgs_wrpper{
  width: 100%;
  flex-wrap: wrap;
}
.hm_imgs_wrpper img{
  width: 100px;
  height: 100px;
  margin: 0.4rem 1rem;
}
.flx_d_c {
  flex-direction: column;
}
.flx_a {
  display: flex;
  align-items: center;
}
.flx_a_cntr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flx_a_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sm_gp {
  gap: 0.5rem;
}
.lg_gp {
  gap: 1rem;
}
